<app-menu></app-menu>
<div style="max-width: 100%">
  <img src="./../../assets/fondo.jpg" style="width: 100%" />
  <p style="color: white; font-size: 25px">
    iVoting permite a los ciudadanos votar desde cualquier lugar a través de
    dispositivos inteligentes, es decir, los ciudadanos no necesitan presentarse
    a un centro de votaciones para realizar su voto, lo cual también permite a
    ciudadanos que residen en el exterior del país realizar su voto.
  </p>
</div>
