<app-menu></app-menu>

<div class="container">
    <div class="h3" style="color:#963213">Resultados</div>

    <select name="idrestulados" id="idresultados">
        <option value="">Seleccione una elección</option>
    </select>

    
    <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-6">Fecha Inicio: {{resultados.fecha_inicio}}</div>
                <div class="col-6">Fecha Fin: {{resultados.fecha_fin}}</div>
            </div>

            <table style="width: 80%;">
                <tbody>
                    <tr>
                        <td>Votantes Registrados</td> <td></td>
                    </tr>
                    <tr>
                        <td>Número de votantes</td> <td>{{numeroVotantes}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-center font-weight-bold">Ganador: {{ganador.nombre}}</td>
                    </tr>
                    <tr *ngFor="let item of ganador.datos.postulante | keyvalue">
                        <td >{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    <tr>
                        <td>Votos Totales: </td> <td>{{ganador.datos.votos_recibidos}}</td>
                        <td>Porcentaje: </td> <td>{{ganador.datos.votos_recibidos}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            
            <div class="chart-wrapper text-center" 
            style="margin-left: 5%; margin-right: 5%; border:solid 5px #135b96; border-radius: 10px; padding:5%;">
                <h3 class="text-primary font-weight-bold">VOTOS POR AGRUPACIÓN</h3>
                <canvas style="max-height: 400px;" baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <hr>
            <div class="chart-wrapper text-center"
            style="margin-left: 5%; margin-right: 5%; border:solid 5px #135b96; border-radius: 10px; padding:5%;">
                <h3 class="text-primary font-weight-bold">VOTOS POR AGRUPACIÓN</h3>
                <canvas baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
              </canvas>
            </div>
        </div>
    </div>

</div>