<app-menu-v></app-menu-v>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%">
      <mat-card-header style="width: 100%">
        <mat-card-title>Elección</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="padding: 1%;"><br></div>
        <p>Título de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Descripción de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Fecha de inicio de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Hora de inicio de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Fecha de finalización de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Hora de finalización de la elección</p>
        <input mat-input style="width: 100%" />
        <div style="padding: 1%;"><br></div>
        <p>Opciones</p>
        <input mat-input style="text-align:center; width: 100%" />
        <br>
        <br>
        <div style="text-align: center;">
          <button mat-button style="background-color: blue; color: white"  (click)="eleccion()">
            CREAR ELECCIÓN
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div></div>
