<app-menu></app-menu>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%;">
      <mat-card-header style="width: 100%">
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
      <!--<div class="container"> <p>Your IP Address : {{ipAddress}}</p> </div>   -->
      <mat-card-content style="width: 100%;">
        <p>CUI</p>
        <input type="text" matInput [(ngModel)]="Cui" placeholder="Cui" name="correo" style="width: 100%;"/>
        <p>Nombres</p>
        <input type="text" matInput [(ngModel)]="Name" placeholder="Name" name="Name" style="width: 100%;"/>
        <p>Apellidos</p>
        <input type="text" matInput [(ngModel)]="Apellido" placeholder="Apellido" name="Apellido" style="width: 100%;"/>
        <p>Email</p>
        <input type="text" matInput [(ngModel)]="Email" placeholder="Email" name="Email" style="width: 100%;"/>
        <p>Fecha_Nacimiento</p>
        <input type="text" matInput [(ngModel)]="Fecha" placeholder="Fecha" name="Fecha" style="width: 100%;"/>
        <p>Municipio</p>
        <input type="text" matInput [(ngModel)]="Municipio" placeholder="Municipio" name="Municipio" style="width: 100%;"/>
        <p>Departamento</p>
        <input type="text" matInput [(ngModel)]="Departamento" placeholder="Departamento" name="Departamento" style="width: 100%;"/>
        <p>Pais</p>
        <input type="text" matInput [(ngModel)]="Pais" placeholder="Pais" name="Pais" style="width: 100%;"/>
        <p>Sexo</p>
        <input type="text" matInput [(ngModel)]="Sexo" placeholder="Sexo" name="Sexo" style="width: 100%;"/>
        <p>Estado Civil</p>
        <input type="text" matInput [(ngModel)]="Civil" placeholder="Civil" name="Civil" style="width: 100%;"/>
        <p>Estado Militar</p>
        <input type="text" matInput [(ngModel)]="Militar" placeholder="Militar" name="Militar" style="width: 100%;"/>
        <p>Privado Libertad</p>
        <input type="text" matInput [(ngModel)]="Privado" placeholder="Privado" name="Privado" style="width: 100%;"/>
        <p>Padron</p>
        <input type="text" matInput [(ngModel)]="Padron" placeholder="Padron" name="Padron" style="width: 100%;"/>
        <p>Fotografía</p>
        <input type="text" matInput [(ngModel)]="Foto" placeholder="Foto" name="Foto" style="width: 100%;"/>
        <br>
        <div style="padding: 15px;"></div>
        <button mat-raised-button (click)="registro()" color="primary"style="background-color: blue; color: white">REGISTRARSE</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="padding: 35%">
    <br />
  </div>
</div>
